
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
  }
  body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: black;
    color: white;
  }
  
  /* Add any additional global styles needed for dark/light mode */
  